<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998122089982-c62adpalai9p609v1cb9vkjtg0sta0v1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998122089982-c62adpalai9p609v1cb9vkjtg0sta0v1</string>
	<key>API_KEY</key>
	<string>AIzaSyAG26VsA4V_NsSwBlXWJI7mf06rMVh1JYc</string>
	<key>GCM_SENDER_ID</key>
	<string>998122089982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unote.unote.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>unote-e2f13</string>
	<key>STORAGE_BUCKET</key>
	<string>unote-e2f13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998122089982:ios:d1e4b435fd5e61bb69a4af</string>
</dict>
</plist>